.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

bin/
build/
gradle/
/src/main/resources/static
/src/main/resources/client/node_modules
src/main/resources/client/package-lock.json
src/main/resources/client/js/components/.DS_Store
